.input-container {
  position: relative;
  width: 100%;
}

.input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 12px 4px 42px;
}

.input-icon-container {
  position: absolute;

  left: 12px;
  top: 55%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  z-index: 1;
}